.my_fl { float: left;}
.my_fr { float: right;}
ul,ol,li { list-style: none;}

.countdown_div { height: 30px; line-height: 30px; padding:0 8px; font-size:12px; overflow:hidden;}
.countdown_div i.color_f40_14 { padding: 0 2px; color: #F40; font-style: normal; font-size: 14px;}

.home_square_div { border-top:1px solid #e0e0e0;}
.home_square_div ul { overflow: hidden; height: 100px; padding: 0; margin: 0;}
.home_square_div ul li { float:left; width: 50%; height:50%; box-sizing:border-box; border: 1px solid #e0e0e0; border-top: none; border-left:none; text-align: center;}
.home_square_div ul li i {}
.home_square_div ul li p {font-size: 14px; padding: 0; margin: 0;}

.news_title { height: 30px; line-height: 30px; padding:0 8px; font-size: 12px; font-weight: bold; border-bottom: 1px solid #e0e0e0;}

.news_list {overflow:hidden;}
.news_list ul { padding: 0 8px;}
.news_list ul li { padding: 8px 0; overflow: hidden; border-bottom: 1px solid #eee; font-size: 12px;}
.news_list ul li img { float: left; width: 80px; height: 60px; overflow: hidden;}
.news_list ul li div.news_div { margin-left: 90px;}
.news_list ul li div.news_div h5 { margin: 0; padding: 0; height: 20px; line-height: 20px; overflow: hidden; font-size: 14px;}
.news_list ul li div.news_div p { margin: 8px 0 0; padding: 0; height: 32px; line-height: 16px; overflow: hidden;}

