/* 热卖专区 */
.mg-hot{padding:0 0.8333rem;border-top:1rem solid #ededed;background-color:#fff;}
.mg-hot-swiper{width:100%;padding-bottom:2rem;position:relative;overflow:hidden;}
.mg-hot-list{width:50000rem;overflow:hidden;}
.mg-hot-box{float:left;}
.mg-hot-img{display:block;width:100%;height:14.5417rem;position:relative;}
.mg-hot-img img{display:block;width:100%;height:14.5417rem;}
.mg-hot-img h4{width:100%;height:3rem;padding:0 0.5rem;background-color:#000;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;color:#fff;font:normal 1rem/3rem "Microsoft Yahei";}
.mg-hot-box h2{height:3rem;margin:0.6rem 0 0.4rem;}
.mg-hot-box h2 a{display:block;height:3rem;color:#454545;font-size:1.0834rem;font-weight:normal;line-height:1.5rem;text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.mg-hot-tag em{margin-right:0.5rem;}
.mg-hot-explain{padding-top:2rem;color:#666;font-size:0.9167rem;}
.mg-hot-b{width:100%;}
.mg-hot-price{text-align:right;}
.mg-hot-price strong{display:block;color:#ff7e00;}
.mg-hot-price strong sub{bottom:0;}
.mg-hot-price strong em{font-size:1.5833rem;font-style:normal;}
.mg-hot-price del{color:#999;}
.mg-hot-ico{width:100%;height:2.4167rem;position:absolute;z-index:20;bottom:0;left:0;text-align:center;line-height:2.4167rem;}
.mg-hot-ico span{display:inline-block;width:0.6rem;height:0.6rem;margin:0 0.2rem;background:#b0b0b0;border-radius:100%;vertical-align:middle;}
.mg-hot-ico span.mg-hot-active{background-color:#ff7e00;}

/* 产品列表，如：出境跟团游，国内跟团游 */
.mg-productlist{padding:0 0.8333rem;border-top:1rem solid #ededed;background-color:#fff;}
.mg-productlist-list1{width:100%;padding-bottom:1rem;margin-bottom:1rem;border-bottom:1px solid #ddd;}
.mg-productlist-list1 li{height:7.6667rem;}
.mg-productlist-list1 li a{display:block;width:100%;height:100%;position:relative;}
.mg-productlist-list1 strong{display:block;width:100%;height:1.75rem;padding:0 0.5rem;background-color:#000;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;font-weight:normal;line-height:1.75rem;color:#fff;text-align:right;}
.mg-productlist-list2{padding-bottom:0.5rem;}
.mg-productlist-list2 li{height:8.4rem;padding-top:1rem;border-top:1px solid #ddd;}
.mg-productlist-list2 li:first-child{height:7.4rem;padding-top:0;border-top:none;}
.mg-productlist-list2 .mg-img{float:left;width:8.5rem;height:6.4rem;}
.mg-productlist-r1{height:6.4rem;padding-left:1rem;position:relative;overflow:hidden;}
.mg-productlist-list2 h3{height:3rem;margin-bottom:0.5rem;color:#444;font-size:1.0833rem;line-height:1.5rem;text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-weight:normal;}
.mg-productlist-explain{color:#666;line-height:1.2rem;}
.mg-productlist-price{position:absolute;right:0;bottom:0;text-align:right;}
.mg-productlist-price strong{display:block;font-size:0.8333rem;color:#ff7e00;}
.mg-productlist-price sub{bottom:0;}
.mg-productlist-price em{font-size:1.5833rem;font-style:normal;}
.mg-productlist-price del{color:#999;}

/* 跟团游详情－－begin */
.mg-hd-pname{margin-bottom:1rem;padding:1rem;background:#fff;}
.mg-hd-pname h3{margin-bottom:1rem;font:normal 1.0834rem/1.2rem "Microsoft Yahei";color:#454545;}
.mg-hd-pname-l{float:left;width:30%;font-size:1rem;color:#ff7e00;}
.mg-hd-pname-l em{font-size:1.5rem;line-height:3rem;font-style:normal;}
.mg-hd-pname-l sub{font-size:1em;line-height:3rem;}
.mg-hd-pname-r{float:left;width:70%;color:#999;}
.mg-hd-pname-r p{line-height:1.5rem;}
.mg-calendar{margin-bottom:1rem;padding:.5rem;background:#fff;}
.mg-calendar p{margin-left:2rem;line-height:1.6rem;}
.mg-calendar p span{margin:.5rem .5rem 0 0;}
.mg-details{overflow:hidden;background:#fff;}
.mg-details ul{overflow:hidden;line-height:3rem;}
/*.mg-details ul li{float:left;width:0.0417rem;font-size:1.1667rem;color:#999;text-align:center;}*/
/*.mg-details ul li:nth-child(2n-1){width:33.2%;color:#454545;}*/
.mg-details ul li{float:left;padding:0!important;text-align:center;}
.mg-details ul li span{display:inline-block;width:100%;line-height:1.5rem;border-right:1px solid #999;}
.mg-details ul li:last-child span{border-right:none;}
.mg-details ul li.selected{border-bottom:1px solid #ff7e00;}
.mg-details > div{display:none;min-height:100px;padding:1rem 0.5rem;background:#fff;}
.mg-details div.selectedShow{display:block;}

/* 跟团游详情－－end */
.mg-nav{position:fixed;z-index:10;right:0;left:0;bottom:0;display:table;width:100%;height:3.75rem;padding:0;table-layout:fixed;border:0;box-shadow:0 0 1px #3e3e3e;background-color:#3e3e3e;background-color:rgba(62,62,62,0.8);-webkit-touch-callout:none;}
.mg-nav-item{display:table-cell;overflow:hidden;width:1%;height:3.75rem;text-align:center;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;color:#929292;}
.mg-nav-label{font-size:0.9167rem;display:block;overflow:hidden;text-overflow:ellipsis;color:#fff;}

/*价格区间*/
.mg-tips-price{position:fixed;bottom:0;left:0;right:0;width:100%;z-index:101;background:#fff;height:17.9167rem;}
.mg-tips-price > h4{height:3.5rem;line-height:3.5rem;font-size:1.215rem;font-weight:normal;text-align:center;border-bottom:1px solid #ccc;color:#000;}
.mg-tips-price > h4 span{display:inline-block;float:right;margin-right:15px;color:#ff7e00;font-size:1.0992rem;}
.mg-tips-price .mg-tips-price-content{padding-top:1.5917rem;text-align:center;}
.mg-tips-price-content > a{display:inline-block;text-align:center;width:8rem;height:2.8333rem;line-height:2.8333rem;color:#444444;font-size:0.81rem;border:1px solid #ccc;margin:0rem 0.2556rem 1.5917rem;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.mg-tips-price-content > a.active{border:1px solid #ff7e00;color:#ff7e00;}
.mg-tips-price > span{display:block;width:100%;height:3.5417rem;line-height:3.5417rem;text-align:center;border:none;background:none;border-top:1px solid #ff7e00;color:#ff7e00;font-size:1.3333rem;}

/*综合排序*/
.mg-tips-sort{position:fixed;bottom:0;left:0;right:0;width:100%;z-index:101;background:#fff;}
.mg-tips-sort dl{}
.mg-tips-sort dl dt,.mg-tips-sort dl dd{height:3.5417rem;line-height:3.5417rem;text-align:center;color:#ff7e00;font-size:1.2083rem;}
.mg-tips-sort dl dd{border-top:1px solid #e9e9e9;color:#000;}
.mg-tips-sort dl dd.active{color:#ff7e00;}
.mg-mask-opin{-webkit-animation:opin .3s linear forwards;animation:opin .3s linear forwards;}
.mg-tips-up{-webkit-animation:priceup .5s linear forwards;animation:priceup .5s linear forwards;}
@-webkit-keyframes opin{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes opin{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes priceup{
    0%{bottom:-100%;}
    100%{bottom:0%;}
}
@keyframes priceup{
    0%{bottom:-100%;}
    100%{bottom:0%;}
}

/*筛选*/
.mg-tips-select{position:fixed;bottom:0;left:0;right:0;width:100%;z-index:101;background:#fff;}
.mg-tips-select > h4{height:3.5rem;line-height:3.5rem;font-size:1.215rem;font-weight:normal;text-align:center;border-bottom:1px solid #ccc;color:#000;}
.mg-tips-select > h4 span{display:inline-block;float:right;margin-right:15px;color:#ff7e00;font-size:1.0992rem;}
.mg-tips-select-content{padding:0 15px;}
.mg-tips-select-content > p{height:3.125rem;line-height:3.125rem;font-size:1.0417rem;}
.mg-tips-select-content > p:nth-of-type(2){height:2.125rem;line-height:2.125rem;position:relative;top:-0.55rem;}
.mg-tips-select-month{}
.mg-tips-select-month > a,.mg-tips-select-day > a{font-size:0.8333rem;display:inline-block;text-align:center;width:4.4167rem;height:2.8333rem;line-height:2.8333rem;color:#444444;font-size:0.81rem;border:1px solid #ccc;margin:0rem 0.2556rem 1.0917rem;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.mg-tips-select-month > a.active,.mg-tips-select-day > a.active{border:1px solid #ff7e00;color:#ff7e00;}
.mg-tips-select > span{display:block;width:100%;height:3.5417rem;line-height:3.5417rem;text-align:center;border:none;background:none;border-top:1px solid #ff7e00;color:#ff7e00;font-size:1.3333rem;}

/* 其它页头信息 */
.mg-pageheader{margin-top:1rem;padding:0.8rem 0.8333rem;background:#fff;}
.mg-pageheader h2{font-size:1.1667rem;font-weight:normal;color:#444;}
.mg-pageheader-price{display:block;font-size:0.8333rem;color:#ff7e00;color:#999;}
.mg-pageheader-price sub{color:#ff7e00;font-size:1rem;}
.mg-pageheader-price em{font-size:2.0833rem;font-style:normal;color:#ff7e00;}
.mg-pageheader-price del{color:#999;}
.mg-pageheader-explain span{display:block;color:#999;line-height:1.5rem;}
.mg-pageheader-diff{height:2.9167rem;padding:0 0.8333rem;margin-top:1rem;background-color:#fff;line-height:2.9167rem;}
.mg-pageheader-diff span{color:#999;}
.mg-pageheader-diff strong{color:#010101;font-size:1.1667rem;}

/* 团期页 */
.mg-date{padding-bottom:4.5rem;}
.mg-date-tit{height:3.25rem;line-height:3.25rem;text-align:center;font-size:1.0833rem;}
.mg-date-tit a{margin:0.7rem 1rem 0;}
.mg-date-table{padding:0.5rem 0;background:#fff;}
.mg-date-table dt{float:left;width:14.2%;font-size:1.25rem;text-align:center;line-height:3rem;color:#999;}
.mg-date-table dd{float:left;width:14.2%;height:3rem;margin:0.2rem 0;font-size:1.25rem;text-align:center;line-height:3rem;color:#ccc;}
.mg-date-table dd span{width:3rem;height:100%;margin:0 auto;display:block;border-radius:50%;color:#444;}
.mg-date-table dd.mg-sel span{width:3rem;height:100%;margin:0 auto;display:block;border-radius:50%;color:#444;line-height:2.4rem}
.mg-date-table dd.mg-sel strong{display:block;margin-top:-0.8rem;color:#ff7e00;font-size:0.9167rem;font-weight:normal;line-height:1rem;-moz-transform:scale(0.7);-webkit-transform:scale(0.7);-o-transform:scale(0.7);}
.mg-date-table dd.mg-sel span.mg-click{border:1px solid #ff840c;}
.mg-date-price{background:#fff;margin-top:1rem;}
.mg-date-price dt{height:2.7083rem;padding:0 1rem;border-bottom:1px solid #ddd;font-size:1.0833rem;line-height:2.7083rem;color:#999;}
.mg-date-price dd{height:4rem;padding:0 1rem;border-bottom:1px solid #ccc;line-height:4rem;font-size:1.0833rem;color:#444;}
.mg-date-difference{color:#ff7467;}
.mg-date-difference em{margin-bottom:0.3rem;}
.mg-date-count{width:7.5rem;height:2.1667rem;margin:0.9rem 0 0 1rem;border-top:1px solid #a6a6a6;border-bottom:1px solid #a6a6a6;border-radius:0.2rem;position:relative;overflow:hidden;text-align:center;line-height:2.1667rem;}
.mg-date-count strong{font-size:1.25rem;font-weight:normal;}
.mg-date-count a{display:inline-block;width:2.1667rem;height:2.1667rem;border-right:1px solid #a6a6a6;border-left:1px solid #a6a6a6;background-color:#efefef;position:absolute;top:0;line-height:2rem;text-align:center;}
.mg-date-count a:nth-child(1){left:0;}
.mg-date-count a:nth-child(3){right:0;}
.mg-date-price .ml12{margin-left:0.5rem;}

/* 购买 */
.mg-buy-bottom{width:100%;height:4.5rem;background-color:#7a7a7a;position:fixed;z-index:110;left:0;bottom:0;line-height:4.5rem;}
.mg-buy-bottom-l *{color:#fff;vertical-align:middle;}
.mg-buy-bottom-l span{padding:0 0.5rem 0 1.5rem;font-size:1.1667rem;}
.mg-buy-bottom-l sub{font-size:0.9167rem;}
.mg-buy-bottom-l strong{font-size:1.75rem;}
.mg-buy-bottom-r{width:12.25rem;background-color:#ff7467;font-size:1.0833rem;text-align:center;color:#fff;}
.mg-buy-bottom-r span{font-size:1.3333rem;}
.mg-detail-btn{display:inline-block;margin:0.2rem 0 0 0.5rem;font-size:1.1667rem;color:#fff;text-decoration:underline;}

/* 预定表单 */
.mg-reserve{margin-top:1rem;background-color:#fff;}
.mg-form1{font-size:1.0833rem;}
.mg-form1 dd,.mg-form1 dt{height:2.625rem;padding:0 0.8333rem;line-height:2.625rem;}
.mg-form1 dt{color:#999;}
.mg-form1 dd{padding-left:5.2083rem;border-top:1px solid #efefef;}
.mg-form1 dd input{width:100%;height:1.2rem;border:none;line-height:1.2rem;}
.mg-form1 dd label{display:inline-block;width:3.75rem;margin-left:-3.75rem;}
.mg-notice{display:block;width:100%;height:2.4rem;position:fixed;bottom:4.5rem;line-height:2.4rem;text-align:center;}
.mg-notice a{display:inline-block;text-decoration:underline;margin-left:0.5rem;}

/* 费用明细 */
.mg-detail-msg{display:none;width:100%;padding-bottom:1rem;background:#fff;position:fixed;z-index:110;bottom:4.5rem;left:0;}
.mg-detail-msg h2{height:2.625rem;padding:0 0.8333rem;background-color:#efefef;line-height:2.625rem;font-weight:normal;font-size:1.3333rem;}
.mg-detail-msg h3,.mg-detail-msg li,.mg-detail-msg p{padding:0 0.8333rem;height:2rem;line-height:2rem;}
.mg-detail-msg h3{margin-top:0.8rem;font-size:1.0833rem;}
.mg-detail-msg li strong,.mg-detail-msg li span{display:inline-block;line-height:2rem;}
.mg-detail-msg li strong{width:40%;}
.mg-detail-msg li span{width:30%;color:#ff7e00;}
.mg-detail-msg p{color:#999;}

/* 暂无内容 */
.mg-prompt-warp{position:fixed;width:100%;height:100%;background-color:#fff;}
.mg-prompt-box{width:100%;height:18rem;position:absolute;top:50%;left:0;margin-top:-11rem;}
.mg-prompt-box h3{font-size:1.5833rem;color:#444;line-height:3rem;text-align:center;}
.mg-prompt-box h4{font-size:1.3333rem;color:#999;text-align:center;font-weight:normal;}
.mg-prompt-ico{display:block;width:9.1667rem;height:10.25rem;margin:0 auto 1rem;background-position:-23.7917rem -0.8333rem;}

/* 选择城市 */
.mg-warp-addr{background:#fff;}
.mg-addr-header,.mg-addr-search{position:relative;z-index:2;}
.mg-addr-search{padding:0.5rem 0.8333rem;background:#e1e1e1;}
.mg-addr-search input{width:100%;height:2.5rem;line-height:2.5rem;background:#fff;border:none;text-indent:1rem;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.mg-addr-content{position:relative;overflow:hidden;}
.mg-addr-item{padding:0.5rem 0.8333rem;color:#666;}
.mg-addr-item > p{color:#666;font-size:1.1667rem;height:2.8rem;line-height:2.8rem;vertical-align:middle;}
.mg-addr-item > p a{font-size:1rem;color:#fba34e;text-decoration:underline;vertical-align:middle;float:right;margin-right:4rem;}
.mg-addr-item > span{display:inline-block;height:2.5rem;line-height:2.5rem;text-align:center;font-size:1rem;width:7.0833rem;border:1px solid #ddd;-webkit-border-radius:0.8167rem;-moz-border-radius:0.8167rem;-ms-border-radius:0.8167rem;-o-border-radius:0.8167rem;border-radius:0.8167rem;margin:0 0.8333rem 0.8333rem 0;}
.mg-addr-slider{z-index:1;position:fixed;width:2.5rem;background:#f2f2f2;height:80%;top:8.450rem;bottom:0px;right:0px;text-align:center;display:-webkit-box;display:-moz-box;display:box;-webkit-box-orient:vertical;box-orient:vertical;}
.mg-addr-slider a{-webkit-box-flex:1;box-flex:1;display:block;padding-top:100%;color:#fba34e;font-size:1.0833rem;vertical-align:middle;}
.mg-add-list{padding:0.5rem 0.8333rem;}
.mg-add-list > dl{overflow:hidden;}
.mg-add-list > dl dt{height:2rem;line-height:2rem;color:#666;font-size:1rem;}
.mg-add-list > dl dd{height:2.6rem;line-height:2.6rem;color:#000;font-size:1.0833rem;}